.shiftsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
}

.shiftsListCard {
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 10px;
}

.cardContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardContentDivText {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.cardContentDivText label {
  margin: 5px;
}

.cardContentDivText p {
  font-weight: bold;
  margin: 5px;
}

.cardContentDivText div {
  border-radius: 12px;
  border: 2px solid black;
  /* box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25); */
  margin: 5px;
  background-color: peachpuff;
}

.shiftsListCard button {
  text-align: center;
  background-color: red;
  color: black;
  border: 2px solid black;
  margin-bottom: 6px;
  margin-left: 2px;
}

.shiftsListCard button:hover {
  background-color: lightcoral;
}
