.shiftsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
}

.shiftsListCard {
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 10px;
}

.cardContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardContentDivText {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.shiftsListCard button {
  text-align: center;
  background-color: red;
  color: black;
  border: 3px solid black;
  margin-bottom: 6px;
  margin-left: 2px;
}

.shiftsListCard button:hover {
  background-color: lightcoral;
}
