body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  align-self: center;
  white-space: nowrap;
  color: #e3f2fd;
}

h1 {
  color: #e3f2fd;
}

h2 {
  color: #e3f2fd;
}

h4 {
  margin: 5px;
  color: #e3f2fd;
}

h5 {
  font-size: 24px;
  color: #e3f2fd;
  margin-bottom: 20px;
}

label {
  text-align: center;
  font-size: 16px;
  color: #e3f2fd;
  margin-top: 10px;
  /* font-weight: bold; */
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #37474f;
  margin-bottom: 10px;
}

select {
  width: 110%;
  padding: 10px;
  margin-top: 5px;
  /* border: 2px solid black; */
  border-radius: 4px;
  font-size: 16px;
  display: block;
  margin-bottom: 20px;
  background-color: #e3f2fd;
  color: #263238;
}

button {
  background-color: #22759f;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  /* border: 2px solid black; */
  font-weight: bold;
}

button:hover {
  background-color: #0056b3;
}

ul {
  /* display: flex;
  flex-direction: row; */
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  text-align: center;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
