body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  align-self: center;
  white-space: nowrap;
}

h5 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

label {
  text-align: center;
  font-size: 16px;
  color: #555;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  margin-bottom: 10px;
}

/* input:focus {
  outline: none;
  border-color: #4f005f;
  background: #f6dbfc;
}

input:invalid {
  border-color: red;
  background: #fbdada;
} */

select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  display: block;
  margin-bottom: 20px;
  color: #555;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  text-align: center;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
