.header {
  background-color: lightcoral;
  padding: 10px 0;
  text-align: center;
}

.list {
  list-style: none;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list li {
  margin: 0 10px;
  text-align: center;
}

.list a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  transition: color 0.2s;
}

.list a:hover {
  color: darkblue;
}

.list a.active {
  font-weight: bold;
  color: darkblue;
}

.list button {
  text-align: center;
  display: flex;
  margin: 5px;
  align-items: center;
}
