.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  width: fit-content;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;
}

.modal-content {
  width: fit-content;
  background-color: lightsalmon;
  padding: 40px;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  animation: slide-down 300ms ease-out forwards;
}

@media (max-width: 390px) {
  .modal-content {
    padding: 30px;
  }
}

@media (max-width: 390px) {
  .modal-content {
    padding: 20px;
  }
}

.modal input {
  margin-top: 10px;
  margin-bottom: 10px;
}

.modal label {
  font-size: xx-large;
  margin-top: auto;
}

.modal button {
  margin-right: 10px;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
