.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 30%;
  left: 32.5%;
  width: auto;
  background-color: lightsalmon;
  padding: 40px;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

.modal input {
  margin-top: 10px;
  margin-bottom: 10px;
}

.modal label {
  font-size: xx-large;
  margin-top: auto;
}

.modal button {
  margin-right: 10px;
}

@media (max-width: 1000px) {
  .modal label {
    font-size: 25px;
  }
}

@media (max-width: 790px) {
  .modal {
    width: auto;
  }

  .modal label {
    font-size: 20px;
  }

  .modal p {
    font-size: 15px;
  }

  .modal button {
    width: 60px;
    height: 25px;
    font-size: 14px;
  }

  @media (max-width: 630px) {
    .modal {
      width: auto;
      /* top: 30%;
      left: 10%; */
    }

    .modal label {
      font-size: 15px;
    }

    .modal p {
      font-size: 12px;
    }
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
