.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: lightsalmon;
  text-align: center;
}

.h1Welcome {
  margin: 0%;
}

.cards {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.cardContainer {
  flex: 1;
}
