.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: lightsalmon;
  text-align: center;
}

.h1Welcome {
  margin: 0px;
  margin-bottom: 5px;
  font-size: 90px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.cardContainer {
}
