.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: lightsalmon;
  text-align: center;
}

.h1Welcome {
  margin: 0px;
  margin-bottom: 5px;
  font-size: 90px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex: 1;
}

@media (max-width: 920px) {
  .container {
    padding: 20px;
  }

  .h1Welcome {
    font-size: 60px;
  }

  .cards {
    flex-direction: column;
  }

  .cards > .cardContainer {
    margin-bottom: 20px;
  }

  .cardContainer {
    max-width: 90%;
  }

  .cardContainer h2 {
    font-size: 24px;
  }
}
