.shiftsFilter {
  color: white;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  margin-bottom: -4px;
}

.shiftsFilterControl {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.shiftsFilter label {
  text-decoration: underline;
  align-self: center;
  white-space: nowrap;
  font-weight: bolder;
  margin-bottom: 8px;
  margin-right: 142px;
}

.shiftsFilter select {
  width: 150px;
  align-self: center;
  font: inherit;
  padding: 1px;
  font-weight: bold;
  border: 3px solid black;
  border-radius: 12px;
  margin: 0%;
  background-color: peachpuff;
}
