.shiftsFilter {
  color: white;
  padding: 10px;
  background-color: rgb(255, 255, 255);
}

.shiftsFilterControl {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 16px 0;
}

.shiftsFilter label {
  text-decoration: underline;
  align-self: center;
  white-space: nowrap;
  font-weight: bolder;
  margin-bottom: 8px;
  margin-right: 160px;
}

.shiftsFilter select {
  width: auto;
  align-self: center;
  font: inherit;
  padding: 10px;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 12px;
  margin: 0%;
  background-color: peachpuff;
}
