.shiftsFilter {
  color: white;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  margin-bottom: -4px;
}

.shiftsFilter label {
  /* text-decoration: underline; */
  align-self: center;
  white-space: nowrap;
  font-weight: bolder;
  margin-bottom: 8px;
  margin-right: 94.5px;
}

.shiftsFilter select {
  width: 150px;
  align-self: center;
  font: inherit;
  padding: 1px;
  font-weight: bold;
  /* border: 3px solid black; */
  border-radius: 12px;
  margin: 0%;
  background-color: peachpuff;
}

.shiftsFilterControl {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.shiftsFilterControl div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
  margin-right: 25px;
}

.shiftsFilterControl label {
  margin: auto;
  margin-bottom: 3px;
}
