.mainDiv {
  display: flex;
  flex-direction: row;
}

.usersListCard {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.usersListCard h5 {
  margin: 0px;
  margin-top: -15px;
}

.usersListCard ul {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.usersListCard li {
  text-align: center;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.InnerUserList {
  background-color: lightsalmon;
  padding: 5px;
}

.InnerUserList div {
  border: 4px solid black;
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
  margin: 4px;
  padding: 4px;
}

.InnerUserList p {
  font-weight: bold;
  margin-top: 2px;
  margin: 2px 7px 3px 7px;
}
